#kombox-filter{
	border: 2px solid #ffea94;
	margin-top: 1em;
	margin-bottom: 2em;
	font-size: .8em;
	max-width:290px;
	padding: 10px 10px 20px 10px;
	position: relative;
	background: white;
}

#kombox-filter ul{
	list-style: none !important;
	margin:0;
	padding:0 0 20px 0;
}

#kombox-filter ul li{
	list-style: none !important;
	margin:0;
	padding:0;
	margin-top: .7em;
}

#kombox-filter .lvl1 {
	position: relative;
}

#kombox-filter .lvl1:before, #kombox-filter li:before {
	content: none !important;
}

#kombox-filter ul li ul{
	padding: 10px 0 0 15px;
}

#kombox-filter ul li li{
	margin:0;
	padding: 2px 0 0 0;
}

#kombox-filter .kombox-filter-property-head {
	zoom: 1;
	padding-left: 19px;
	margin-bottom:5px;
	position: relative;
}

#kombox-filter .kombox-filter-property-i {
	background: url("images/list.gif") no-repeat scroll center -9px rgba(0, 0, 0, 0);
	display: block;
	position: absolute;
	font-size: 1px;
	height: 9px;
	left: 1px;
	cursor: pointer;
	top: 5px;
	width: 9px;
	zoom: 1;
}

#kombox-filter li.closed .kombox-filter-property-i {
	background: url("images/list.gif") no-repeat scroll center top rgba(0, 0, 0, 0);
}

#kombox-filter .kombox-filter-property-name {
	border-bottom: 1px dotted #000;
	cursor: pointer;
	position: relative;
	font-weight:bold;
}

#kombox-filter ul.kombox-num .kombox-input{
	width: 4em;
	margin:0;
	
}

#kombox-filter ul.kombox-num .kombox-range{
	padding:10px 10px 10px 0;
}

#kombox-filter ul.kombox-num .kombox-range input{
	display:none;
}

#kombox-filter ul.kombox-combo{
	padding: 5px 0 0 15px;
	margin: 0;
}

#kombox-filter ul.kombox-combo li input{
	margin:0;
}

#kombox-filter ul.kombox-combo li label{
	padding-left: 7px;
}

#kombox-filter ul li li.kombox-disabled label{
	color: #6f7980;
}

#kombox-filter ul.kombox-combo li label span{
	color: #6f7980;
	font-size: .85em;
}

#kombox-filter ul li li.kombox-disabled label span, .kombox-filter ul li li.kombox-checked label span{
	display:none;
}

#kombox-filter .kombox-filter-property-hint{
	cursor: pointer;
	position: relative;
	top: 2px;
	width: 12px;
	height: 12px;
	margin-left:5px;
	display: inline-block;
	background: rgba(0, 0, 0, 0) url(images/hint.gif) no-repeat right center;
}

#kombox-filter .kombox-filter-property-hint-text{
	display:none;
}

.kombox-filter-hint{
	padding:5px 10px 5px 5px;
	font-size: .8em;
	max-width: 500px;
}

#kombox-filter .modef {
	background: transparent url('images/modef.gif') no-repeat right center;
	top: -4px;
	position: absolute;
	padding-right:5px;
	z-index:1000;
}

#kombox-filter .modef-right {
	background: transparent url('images/modef-right.gif') no-repeat left center;
	padding-left:5px;
}

#kombox-filter .modef .modef-wrap {
	background-color:#fff;
	border: 1px solid #ffea94;
	border-right:none;
	color: #3F3F3F;
	padding: 5px 25px 5px 10px;
	white-space: nowrap;
}

#kombox-filter .modef-right .modef-wrap {
	border: 1px solid #ffea94;
	border-left:none;
}

#kombox-filter .kombox-loading {
	position:absolute;
	z-index:100;
	left:0;
	top:0;
	background:transparent url(images/loading.png) repeat center;
	display:none;
}

a.kombox-del-filter{
	display:inline-block;
	margin-left:10px;
}

.irs {
    position: relative; display: block;
}
    .irs-line {
        position: relative; display: block;
        overflow: hidden;
    }
        .irs-line-left, .irs-line-mid, .irs-line-right {
            position: absolute; display: block;
            top: 0;
        }
        .irs-line-left {
            left: 0; width: 0%;
        }
        .irs-line-mid {
            left: 10%;
        }
        .irs-line-right {
            right: 0; width: 0%;
        }

    .irs-diapason, .irs-diapason-left, .irs-diapason-right {
        position: absolute; display: block;
        left: 0; width: 100%;
    }
    .irs-slider {
        position: absolute; display: block;
        cursor: default;
        z-index: 1;
    }
        .irs-slider.single {
            left: 10px;
        }
            .irs-slider.single:before {
                position: absolute; display: block; content: "";
                top: -50%; left: -100%;
                width: 300%; height: 200%;
                background: rgba(0,0,0,0.0);
            }
        .irs-slider.from {
            left: 100px;
        }
            .irs-slider.from:before {
                position: absolute; display: block; content: "";
                top: -50%; left: -200%;
                width: 300%; height: 200%;
                background: rgba(0,0,0,0.0);
            }
        .irs-slider.to {
            left: 300px;
        }
            .irs-slider.to:before {
                position: absolute; display: block; content: "";
                top: -50%; left: 0;
                width: 300%; height: 200%;
                background: rgba(0,0,0,0.0);
            }
        .irs-slider.last {
            z-index: 2;
        }

    .irs-min {
        position: absolute; display: block;
        left: 0;
        cursor: default;
    }
    .irs-max {
        position: absolute; display: block;
        right: 0;
        cursor: default;
    }

    .irs-from, .irs-to, .irs-single {
        position: absolute; display: block;
        bottom: 0; left: 0;
        cursor: default;
        white-space: nowrap;
		margin-bottom:-17px;
    }
	
	.irs-from {
		margin-left:-7px;
    }
	
	.irs-to {
		margin-left:10px;
    }


.irs-grid {
    position: absolute; display: none;
    top: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
    .irs-grid-pol {
        position: absolute;
        bottom: 0; left: 0;
        width: 1px; height: 8px;
        background: #000;
    }
    .irs-grid-pol.small {
        height: 4px;
    }
    .irs-grid-text {
        position: absolute;
        top: 0; left: 0;
        width: 100px;
        white-space: nowrap;
        text-align: center;
        font-size: 9px; line-height: 9px;
        color: #000;
    }
	
.irs-line-mid,
.irs-line,
.irs-diapason-left, 
.irs-diapason-right,
.irs-slider {
    background: url(images/slider.png) repeat-x;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    margin-top: 10px;
}
.irs-line {
    height: 8px; top: 25px;
	 background-position: 0 0;
}
    .irs-line-left {
        height: 8px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 6px;
        background-position: left bottom;
    }
    .irs-line-right {
        height: 8px;
        background-position: 100% -30px;
    }

.irs-diapason, .irs-diapason-left, .irs-diapason-right {
    height: 8px; top: 25px;
    background-position: 0 -60px;
}

.irs-diapason{
	background:none;
}

.irs-slider {
    width: 22px; height: 22px;
    top: 17px;
    background-position: 0 -90px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(0,0,0,0.3);
    border-radius: 3px;
	display:none !important;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid-pol {
    background: #99a4ac;
}
.irs-grid-text {
    color: #99a4ac;
}

.irs-slider.from {
	background-position:-4px -75px;
	width: 13px;
	height: 28px;
	margin-left: -6px;
}

.irs-slider.to {
	background-position:-4px -75px;
	width: 13px;
	height: 28px;
	margin-left: -7px;
}

#irs-active-slider, .irs-slider:hover {
    background-position: -4px -105px;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    margin-top: 0;
}
.irs-line {
    height: 8px; top: 25px;
	 background-position: 0 0;
}
    .irs-line-left {
        height: 8px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 6px;
        background-position: left bottom;
    }
    .irs-line-right {
        height: 8px;
        background-position: 100% -30px;
    }

.irs-diapason, .irs-diapason-left, .irs-diapason-right {
    height: 8px; top: 25px;
    background-position: 0 -60px;
}

.irs-diapason{
	background:none;
}

.irs-slider {
    width: 22px; height: 22px;
    top: 17px;
    background-position: 0 -90px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(0,0,0,0.3);
    border-radius: 3px;
	display:none !important;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid-pol {
    background: #99a4ac;
}
.irs-grid-text {
    color: #99a4ac;
}

.irs-slider.from {
	background-position:-4px -75px;
	width: 13px;
	height: 28px;
	margin-left: -6px;
}

.irs-slider.to {
	background-position:-4px -75px;
	width: 13px;
	height: 28px;
	margin-left: -7px;
}

#irs-active-slider, .irs-slider:hover {
    background-position: -4px -105px;
}